html {
	background-color: #D3D3C5;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 55px;
}

h2{
	font-size: 36px;
}

a {
	font-size: 40px;
}
div {
	margin: auto 30%;
}

table {
  table-layout: fixed;
  width: 15%;
  border: 5px solid black;
  border-collapse: collapse;
}

th {
	font-size: 30px;
}

td {
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}